/*  This will always use the highest Resolution available on the Discord server's  */
/*---------------------User's---------------------*/
             /* ⇑ Maybe used later ⇑ */

/*---------------------BOT's---------------------*/
/*--Ayana#8911--*/
.avatar-profile[style*="185476724627210241"],
.avatar-large[style*="185476724627210241"],
.avatar-small[style*="185476724627210241"],
.image-EVRGPw[style*="185476724627210241"],
.callAvatar-i2aKmR.voice-3qolcc[style*="185476724627210241"],
.avatarDefault-3jtQoc[style*="185476724627210241"],
.avatar-xxlarge[style*="185476724627210241"] {
background: url('https://cdn.discordapp.com/avatars/185476724627210241/a1422cfb8fb41091d62bde2033bcd37c.png?size=1024') !important;
background-size: cover !important;
}

/*--Ayana PRO#6551--*/
.avatar-profile[style*="349764485348589568"],
.avatar-large[style*="349764485348589568"],
.avatar-small[style*="349764485348589568"],
.image-EVRGPw[style*="349764485348589568"],
.callAvatar-i2aKmR.voice-3qolcc[style*="349764485348589568"],
.avatarDefault-3jtQoc[style*="349764485348589568"],
.avatar-xxlarge[style*="349764485348589568"] {
background: url('https://cdn.discordapp.com/avatars/349764485348589568/6e3fbb181d43aadfc2975eef8bfcd960.png?size=1024') !important;
background-size: cover !important;
}

/*--Ayana Beta#9311--*/
.avatar-profile[style*="193959067671068673"],
.avatar-large[style*="193959067671068673"],
.avatar-small[style*="193959067671068673"],
.image-EVRGPw[style*="193959067671068673"],
.callAvatar-i2aKmR.voice-3qolcc[style*="193959067671068673"],
.avatarDefault-3jtQoc[style*="193959067671068673"],
.avatar-xxlarge[style*="193959067671068673"] {
background: url('https://cdn.discordapp.com/avatars/193959067671068673/27b283d8a9ebfd3726c56ab362ada2ec.png?size=512') !important;
background-size: cover !important;
}

/*--Tatsumaki#8792--*/
.avatar-profile[style*="172002275412279296"],
.avatar-large[style*="172002275412279296"],
.avatar-small[style*="172002275412279296"],
.image-EVRGPw[style*="172002275412279296"],
.callAvatar-i2aKmR.voice-3qolcc[style*="172002275412279296"],
.avatarDefault-3jtQoc[style*="172002275412279296"],
.avatar-xxlarge[style*="172002275412279296"] {
background: url('https://cdn.discordapp.com/avatars/172002275412279296/f5f65755f67ae1dc88d9bb271d0f5bef.png?size=1024') !important;
background-size: cover !important;
}







