/*---------------------BOT's---------------------*/
/*--Ayana#8911--*/
.avatar-large[style*="185476724627210241"],
.avatar-small[style*="185476724627210241"],
.image-33JSyf[style*="185476724627210241"],
.avatarDefault-35WC3R[style*="185476724627210241"],
.avatarSpeaking-1wJCNq[style*="185476724627210241"] {
background: url('https://cdn.discordapp.com/avatars/185476724627210241/a0c639dfd2a07dbf675e8e611468b5d8.png?size=1024') !important;
background-size: cover !important;
}

/*--Ayana PRO#6551--*/
.avatar-large[style*="349764485348589568"],
.avatar-small[style*="349764485348589568"],
.image-33JSyf[style*="349764485348589568"],
.avatarDefault-35WC3R[style*="349764485348589568"],
.avatarSpeaking-1wJCNq[style*="349764485348589568"] {
background: url('https://cdn.discordapp.com/avatars/349764485348589568/742e7f09a0ec1f1bafca868bd6c0420b.png?size=1024') !important;
background-size: cover !important;
}

/*--Ayana Beta#9311--*/
.avatar-large[style*="193959067671068673"],
.avatar-small[style*="193959067671068673"],
.image-33JSyf[style*="193959067671068673"],
.avatarDefault-35WC3R[style*="193959067671068673"],
.avatarSpeaking-1wJCNq[style*="193959067671068673"] {
background: url('https://cdn.discordapp.com/avatars/193959067671068673/493692d48a420a050bd111d5221f1ace.png?size=1024') !important;
background-size: cover !important;
}

/*--Tatsumaki#8792--*/
.avatar-large[style*="172002275412279296"],
.avatar-small[style*="172002275412279296"],
.image-33JSyf[style*="172002275412279296"],
.avatarDefault-35WC3R[style*="172002275412279296"],
.avatarSpeaking-1wJCNq[style*="172002275412279296"] {
background: url('https://cdn.discordapp.com/avatars/172002275412279296/f5f65755f67ae1dc88d9bb271d0f5bef.png?size=1024') !important;
background-size: cover !important;
}

/*--Rythm#3722--*/
.avatar-large[style*="235088799074484224"],
.avatar-small[style*="235088799074484224"],
.image-33JSyf[style*="235088799074484224"],
.avatarDefault-35WC3R[style*="235088799074484224"],
.avatarSpeaking-1wJCNq[style*="235088799074484224"] {
background: url('https://cdn.discordapp.com/avatars/235088799074484224/16c197c4c3f0eb808f9bceb6e1075e71.png?size=1024') !important;
background-size: cover !important;
}

/*--Red#8062 (NCS)--*/
.avatar-large[style*="320882028469944330"],
.avatar-small[style*="320882028469944330"],
.image-33JSyf[style*="320882028469944330"],
.avatarDefault-35WC3R[style*="320882028469944330"],
.avatarSpeaking-1wJCNq[style*="320882028469944330"] {
background: url('https://cdn.discordapp.com/avatars/320882028469944330/79ce966f2d3f6129d792d47834ddf069.png?size=1024') !important;
background-size: cover !important;
}

/*--Dyno#3861--*/
.avatar-large[style*="155149108183695360"],
.avatar-small[style*="155149108183695360"],
.image-33JSyf[style*="155149108183695360"],
.avatarDefault-35WC3R[style*="155149108183695360"],
.avatarSpeaking-1wJCNq[style*="155149108183695360"] {
background: url('https://cdn.discordapp.com/avatars/155149108183695360/5aeb68c29b56b3d92eddb6f46df5051c.png?size=512') !important;
background-size: cover !important;
}

