/*--3 Channels--*/ 
.guildsWrapper-5TJh6A {
width: 225px;
}

.guildsWrapper-5TJh6A .scrollerWrap-1IAIlv {
width: 235px;
}

.guildsWrapper-5TJh6A .guilds-1q_RqH,
.guildsWrapper-5TJh6A .guilds-1q_RqH .dms-rcsEnV {
flex-flow: row wrap !important;
display: flex !important;
align-content: flex-start !important;
}

.guildsWrapper-5TJh6A .guilds-1q_RqH .friendsOnline-_wi_fM,
.guildsAdd-21_IdK {
margin-top: 5px !important;
margin-left: -8px !important;
}

div.friendsOnline-_wi_fM {
width: 110px !important;
}

.guildsWrapper-5TJh6A .guilds-1q_RqH .friendsOnline-_wi_fM {
padding-top: 50px !important;
margin-right: -19px;
}

.guildsWrapper-5TJh6A .guilds-1q_RqH .guildSeparator-1X4GQ1 {
top: 0px !important;
}

.guildsWrapper-5TJh6A .guildSeparator-1X4GQ1{
right: 0px;
width: 205px;
}

.guildsWrapper-5TJh6A .guilds-1q_RqH .guild-1EfMGQ:first-child {
right: 76px;
top: -15px;
}

.guildsWrapper-5TJh6A .guilds-1q_RqH .dms-rcsEnV .guild-1EfMGQ:first-child {
right: 10px;
top: 0px
}

.guildsWrapper-5TJh6A .guilds-1q_RqH .guild-1EfMGQ {
margin-left: 15px;
right: 10px;
margin-top: 15px;
}

.guildsWrapper-5TJh6A .guilds-1q_RqH .dms-rcsEnV {
margin-top: -15px;
margin-bottom: 15px;
}

.guildsWrapper-5TJh6A .guildsAdd-21_IdK {
top: 10px;
margin-bottom: 10px;
}

#friends .friends-table .friends-column-guilds {
width: 120px;
}

#friends .friends-table .friends-column-status {
width: 200px;
}

/*ReadAllNotificationsButton Support*/ 
#RANbutton-frame.guild-1EfMGQ  {
margin-top: -12px !important;
margin-right: 66px;
width: 110px;
}

/*--3 Channels END--*/ 
