//META{"name":"Discord_BMT","description":"A nice wip theme.","author":"PONYMODZ","version":"0.2","source":"https://github.com/PONYMODZ/Discord-stuff/tree/master/themes/bmt"}*//
@import url('https://rawgit.com/PONYMODZ/Discord-stuff/master/themes/css/bmt.css'); /*IMPORTANT DONT DELETE THIS LINE!*/


@import url('https://cdn.rawgit.com/jakeoid/discord-emoji-anim/master/stylesheet.css'); /* Animated Emojis by https://github.com/jakeoid */
@import url('https://rawgit.com/PONYMODZ/Discord-stuff/master/themes/css/HQ-Discord-Avatars.css'); /* My HQ BOT Avatar Repo */
@import url('https://rawgit.com/PONYMODZ/Discord-stuff/master/themes/css/pony-stuff.css'); /* MLP Elements */

/*  🡱 Delete the imports you dont want 🡱  */

/*  🡳 Always use RGB 🡳  */

:root {
--BMT-main-transparency: 0.5;
--BMT-main-color: 255,0,178;
--BMT-hover-color: 174,0,121;
--BMT-tag-color: 41,234,23;
--BMT-unread-color: 50,100,200;
--BMT-pulse-color: 0,255,255;
--BMT-pulseselect-color: 255,255,255;
--BMT-memberheader-color: 0,255,255;
--BMT-memberheadertext-color: 255,255,255;
--BMT-background: url('https://i.imgur.com/x8ajUyb.jpg');
--BMT-load-background: url('https://i.imgur.com/8E1Rgb5.png');
--BMT-friends: url('https://i.imgur.com/YAIHRAf.gif');
}




                                    
                                    
/|         __  __   ___             
||        |  |/  `.'   `.           
||        |   .-.  .-.   '     .|   
||  __    |  |  |  |  |  |   .' |_  
||/'__ '. |  |  |  |  |  | .'     | 
|:/`  '. '|  |  |  |  |  |'--.  .-' 
||     | ||  |  |  |  |  |   |  |   
||\    / '|__|  |__|  |__|   |  |   
|/\'..' /                    |  '.' 
'  `'-'`                     |   /  
                             `'-'   
